In [1]:
import pandas as pd

# Leer el archivo rawData.xlsx
df = pd.read_excel('rawData.xlsx')

# Mostrar los primeros 5 renglones
print(df.head())

   Matrícula                        Name Pos      Fecha  Peso  Estatura  \
0  A01367061      Adrian Briseño Ramones  CB 2024-03-21   NaN       NaN
1  A01749027  Brandon Omar Rocha Cabrera  CB 2024-03-21   NaN       NaN
2  A01795311   Emmanuel Gallegos Montiel  CB 2024-03-21   NaN       NaN
3  A01658336   Gabriel Encalada Gallardo  CB 2024-03-21   NaN       NaN
4  A01659588            Jorge Luna Rueda  CB 2024-03-21   NaN       NaN

   10 yrs Best 10 yds 1  10 yds 2  40yrs  ...  BJ 2 BP Max BP 1  BP 2  \
0         1.61     1.64      1.61   4.78  ...  2.65  110.0  110   NaN
1          NaN      NaN       NaN    NaN  ...   NaN  115.0  115   NaN
2         1.48     1.59      1.48   4.53  ...  2.74   85.0  NaN  85.0
3         1.43     1.49      1.43   4.47  ...  2.84    NaN  NaN   NaN
4         1.48     1.56      1.48   4.80  ...  2.57   95.0   90  95.0

  Clean Best Clean 1  Clean 2 Squat Best Squat 1  Squat 2
0      110.0     110      NaN        NaN     NaN      NaN
1        NaN     NaN      NaN        NaN     NaN      NaN
2      100.0      90    100.0      140.0     130      140
3      120.0     115    120.0      160.0     150      160
4      100.0      90    100.0      140.0     130      140

[5 rows x 28 columns]

In [6]:
# Crear una nueva tabla con las columnas especificadas
df_filtered = df[['Matrícula','Name', 'Pos', 'Fecha', 'BP Max', 'Clean Best', 'Squat Best']]

# Mostrar los primeros 5 registros de la nueva tabla
print(df_filtered.head())

   Matrícula                        Name Pos      Fecha  BP Max  Clean Best  \
0  A01367061      Adrian Briseño Ramones  CB 2024-03-21   110.0       110.0
1  A01749027  Brandon Omar Rocha Cabrera  CB 2024-03-21   115.0         NaN
2  A01795311   Emmanuel Gallegos Montiel  CB 2024-03-21    85.0       100.0
3  A01658336   Gabriel Encalada Gallardo  CB 2024-03-21     NaN       120.0
4  A01659588            Jorge Luna Rueda  CB 2024-03-21    95.0       100.0

   Squat Best
0         NaN
1         NaN
2       140.0
3       160.0
4       140.0

In [9]:
# Asegurarse de que la columna Fecha esté en formato de fecha
df_filtered['Fecha'] = pd.to_datetime(df_filtered['Fecha']).dt.date

# Crear un nuevo DataFrame con los valores máximos de BP Max, Clean Best y Squat Best por cada Name
df_max_values = df_filtered.groupby('Name').agg({'BP Max': 'max', 'Clean Best': 'max', 'Squat Best': 'max'}).reset_index()

# Merge df_max_values con df_filtered para obtener la columna Matrícula
df_max_values = df_max_values.merge(df_filtered[['Name', 'Matrícula']], on='Name', how='left').drop_duplicates()

# Reorder columns to have Matrícula at the beginning
cols = ['Matrícula'] + [col for col in df_max_values if col != 'Matrícula']
df_max_values = df_max_values[cols]

# Mostrar los primeros 5 resultados
print(df_max_values.head())

    Matrícula                            Name  BP Max  Clean Best  Squat Best
0   A01662436  Aarón Ixbalanqué Jiménez Ramos    90.0         NaN         NaN
1   A01367061          Adrian Briseño Ramones   110.0       110.0       155.0
7   A01752279              Adán Avila Esparza   100.0       110.0       140.0
12  A01338818               Alan Centeno Mena   140.0       110.0       170.0
18  A01351312          Alejandro Milan Marin      NaN         NaN         NaN

/tmp/ipykernel_27748/2692717155.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Fecha'] = pd.to_datetime(df_filtered['Fecha']).dt.date

In [10]:
df_max_values['BP Max 60%'] = df_max_values['BP Max'] * 0.6
df_max_values['Clean Best 60%'] = df_max_values['Clean Best'] * 0.6
df_max_values['Squat Best 60%'] = df_max_values['Squat Best'] * 0.6

# Mostrar los primeros 5 resultados
print(df_max_values.head())

    Matrícula                            Name  BP Max  Clean Best  Squat Best  \
0   A01662436  Aarón Ixbalanqué Jiménez Ramos    90.0         NaN         NaN
1   A01367061          Adrian Briseño Ramones   110.0       110.0       155.0
7   A01752279              Adán Avila Esparza   100.0       110.0       140.0
12  A01338818               Alan Centeno Mena   140.0       110.0       170.0
18  A01351312          Alejandro Milan Marin      NaN         NaN         NaN

    BP Max 60%  Clean Best 60%  Squat Best 60%
0         54.0             NaN             NaN
1         66.0            66.0            93.0
7         60.0            66.0            84.0
12        84.0            66.0           102.0
18         NaN             NaN             NaN

In [11]:
df_max_values.to_excel('listaMaximos.xlsx', index=False)